.search {
  font-size: 1.2em;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.search label {
  margin-right: 6px;
}

.search select {
  margin-right: 30px;
}

.search .form-group {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}
