.table {
  font-size: 1.2em;
}

.fullname {
  font-weight: 700;
}

.male {
  color:#76a1c3;
  font-weight: 700;
  font-size: 1.3em;
  padding-left: 10px;
}

.female {
  color: #ff8989;
  font-weight: 700;
  font-size: 1.3em;
  padding-left: 10px;
}

.age {
  padding-left: 10px;
}
